body{
    background-color: gray;

}
.first-row{
    margin-right: 3px;
    margin-top: 10px;
}
#gif-input{
    margin-bottom: -15px;
}
.add-panel{
    padding-bottom: 10px;
    padding-top: 12px;
    border:5px solid white;
    
 }

button{
    margin: 3px;
    width: 100px;
    /* height: 35px; */
    background-color: #ffa550;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    border-color: white;
    font-size: 15px; 
}
img{
    width: 100%;
    height: 200px;
    border: 7px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 30px;
    
}
p{
    font-weight: bold;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: underline;
    
}
.head {
    padding-top: 12px;
    padding-bottom: 87px;
    padding-left: 10px;
    border:5px solid white;
    
    
}
label{
    font-weight: bold;
    font-size: 25px;
    color: #ffa550;
}
#add-gif{
    background-color: #ffa550;
    color: white;
    width: 100px;
    height: 40px;
    border-color: whitesmoke;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
}
.click{
    font-size: 15px;
    color: #ffa550;
    float: right;
    margin-top: -31px;
}
@media screen and (max-width:980px){
    .add-panel{
    margin-left: 17px;
    margin-right: 15px;

    }
    img{
        height: 500px;
    }
}
@media screen and (max-width:736px){
    .add-panel{
        margin-left: 34px;
        /* margin-right: 15px; */
        
    }
    .head{
        margin-left: 21px;
    }
    button{
        width: 95px;
    }
    img{
        height: 300px;
    }
}
@media screen and (max-width:412px){
    .add-panel{
        margin-left: 17px;
        margin-right: 15px;
       
    }
    img{
        height: 300px;
    }
}
@media screen and (max-width:375px){
    .add-panel{
        margin-left: 17px;
        margin-right: 15px;
       
    }
    img{
        height: 300px;
    }
    button{
        width: 80px;
    }
}
@media screen and (max-width:360px){
    .add-panel{
        margin-left: 17px;
        margin-right: 15px;
       
    }
    img{
        height: 300px;
    }
    button{
        width: 70px;
    }
}







